[submodule "akshay-chessckers-0"]
	path = akshay-chessckers-0
	url = git@github.com:akshaygulabrao/lc0.git
[submodule "lczero-client"]
	path = lczero-client
	url = git@github.com:akshaygulabrao/lczero-client.git
[submodule "lczero-server"]
	path = lczero-server
	url = git@github.com:akshaygulabrao/lczero-server.git
[submodule "lczero-training"]
	path = lczero-training
	url = git@github.com:akshaygulabrao/lczero-training.git
